.adminGlobalContainer {
  background-color: var(--gray-100) !important;
  padding: 3rem;
}

.adminTitle {
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  margin-bottom: 3rem;
}

.adminFilterContainer {
  background-color: var(--gray-50);
  padding: 2rem 1.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: 0.125rem 0.125rem 0.25rem var(--gray-200);
}
