.adminGlobalContainer {
  background-color: var(--gray-100) !important;
  padding: 3rem;
}

.adminTitle {
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  margin-bottom: 3rem;
}

.adminFilterContainer {
  display: flex;
  align-items: flex-end;
  background-color: var(--gray-50);
  padding: 2rem 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: 0.125rem 0.125rem 0.25rem var(--gray-200);
}

.adminSearch {
  position: relative;
  margin-right: 2.5rem;
}

.adminSearch::after {
  content: "";
  display: block;
  height: 100%;
  width: 0.125rem;
  background-color: var(--gray-300);
  position: absolute;
  right: -2.5rem;
}

.adminSelectContainer {
  display: flex;
  gap: 2rem;
  margin-left: 2.5rem;
}

.adminButton {
  margin-left: auto;
}
