.carouselWrapper {
  user-select: none;
  overflow: hidden;
}

.carouselTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.carousel {
  display: flex;
  gap: 2.5rem;
}

.scroolBar {
  height: 0.75rem;
  border-radius: 4rem;
  opacity: 0.75;
  margin-top: 1rem;
  transition: transform 0.5s;
}
