.modalContainer {
  padding: 2rem;
  background: white;
  border-radius: 16px;
}

.modalInputs {
  display: grid;
  flex-direction: column;
  gap: 1rem;
}

.modalTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--gray-700);
  border-radius: 4px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 16px;
}
.button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
