.checkbox {
  all: unset;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  transition: background-color 0.3s;

  &:focus-visible {
    outline: 2px solid var(--gray-700);
  }
}

.checkbox[data-state="checked"] {
  background-color: var(--primary-300);
  border: 1px solid var(--primary-300);
}

.sizeSm {
  width: 1rem;
  height: 1rem;
}

.sizeMd {
  width: 1.25rem;
  height: 1.25rem;
}

.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.icon {
  color: var(--gray-100);
}

.iconSm {
  width: 0.75rem;
  height: 0.75rem;
}

.iconMd {
  width: 1rem;
  height: 1rem;
}

.indicator[data-state="checked"] {
  & {
    animation: slideIn 0.1s ease-out;
  }
}

.indicator[data-state="unchecked"] {
  animation: slideOut 0.1s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
