.homeWrapper {
  padding-top: 3rem;
  overflow-x: hidden;
  grid-column: 2;
}

.searchHome {
  margin-bottom: 2.25rem;
  margin-left: 3rem;
}

.carouselHeadSuggestions {
  margin-bottom: 3.75rem;
  margin-left: 3rem;
}

.carouselContinueReadingWrapper {
  background-color: var(--gray-200);
}

.carouselContinueReading {
  margin-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
