.homeWrapper {
  padding-top: 3rem;
  overflow-x: hidden;
  grid-column: 2;
}

.searchHome {
  margin-bottom: 2.25rem;
  margin-left: 3rem;
}

.carouselHeadSuggestions {
  margin-bottom: 3.75rem;
  margin-left: 3rem;
}

.carouselContinueReadingWrapper {
  background-color: var(--gray-200);
}

.carouselContinueReading {
  margin-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.noBooksMessage {
  margin-left: 3rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000020;

  & svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
