.tableWrapper {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0.125rem 0.125rem 0.25rem var(--gray-200);
}

.tableWrapper tr {
  display: grid;
  align-items: center;
}

.tableWrapper tr th,
.tableWrapper tr td {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tableWrapper tr td {
  padding: 1rem 0;
}

.tableWrapper tr th {
  padding: 1.5rem 0;
}

.tableWrapper tr th:first-child,
.tableWrapper tr td:first-child {
  padding-left: 2.5rem;
}

.tableWrapper tr th:last-child,
.tableWrapper tr td:last-child {
  padding-right: 4rem;
}

.tableWrapper th {
  background-color: var(--primary-900);
  color: var(--gray-50);
  padding: 1.5rem 0;
  text-align: left;
}

.tableWrapper tr:nth-child(odd) {
  background-color: var(--gray-200);
}
