.filterContainer {
  background-color: var(--gray-50);
  padding: 2rem 2.5rem;
  padding: 2rem 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: 0.125rem 0.125rem 0.25rem var(--gray-200);
}

.acervoFilters {
  display: flex;
  align-items: flex-end;
}

.acervoSearch {
  position: relative;
  margin-right: 2.5rem;
}

.acervoSearch::after {
  content: "";
  display: block;
  height: 100%;
  width: 0.125rem;
  background-color: var(--gray-300);
  position: absolute;
  right: -2.5rem;
  top: 0.5rem;
}

.selectContainer {
  display: flex;
  gap: 2rem;
  margin-left: 2.5rem;
}

.otherInformations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.cleanFilters {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.acervoList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 3rem;
  padding: 0 3rem;
  margin-bottom: 4rem;
}
