.menuToggleButton {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  background-color: var(--primary-300);
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000;

  &:hover {
    background-color: var(--primary-500);
  }
}

.menuWrapper {
  padding: 3rem 2rem;
  background-color: var(--primary-900);
  height: 100vh;
  width: 18.75rem;
  overflow: hidden;
  position: fixed;
  transition: 0.15s ease-in-out;
  z-index: 999;
}

.menuHeader {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.menuSectionTitle {
  margin-bottom: 1rem;
}

.menuDivider {
  width: 100%;
  height: 0.125rem;
  background-color: var(--primary-600);
  margin: 1rem 0;
}

.menuFooter {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  position: absolute;
  bottom: 3.125rem;
}

.loginText:hover {
  color: var(--gray-200) !important;
  cursor: pointer;
}
